h2
{
	margin-left: 46%;
}

.ident
{
	font-weight: bolt;
	font-weight: 800;
}

.namco
{
	float: right;
	margin-right: 60%;
}


.toru
{
	float: right;
	margin-right: 40%;
}

.arcade
{
	float: right;
	margin-right: 8%;
}
