h2
{
	margin-left: 45%;
}

.Anec
{
	margin-left: 3%;
	list-style-type: circle;
}

.google
{
	margin-left: 8%;
}

.pizza
{
	float: right;
	margin-right: 3%;
	
}

.saviez
{
	margin-left: 25%;
}